@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Type-M";
  src: local("fonts/Type-M"), url(fonts/Type-M.otf) format("opentype");
}

@font-face {
  font-family: "Type-DB";
  src: local("fonts/Type-DB"), url(fonts/Type-DB.otf) format("opentype");
}

@import "./global/index.scss";
@import "./components/index.scss";

.img-container {
  width: 400px;
  height: 400px;
}