html {
  overflow-y: scroll;

  body {
    @include dp-bg("00");
  
    @media (prefers-color-scheme: dark) {
      color: $white;
    }

    @include media-breakpoint-up("lg") {
      padding-top: 50px;
    }
    
    @include media-breakpoint-down("lg") {
      padding-bottom: 75px;
    }
  }
}