@each $key, $value in $bg-map {
  .dp-#{$key} {
    @media (prefers-color-scheme: dark) {
      background-color: map-get($bg-map, $key);
    }
    @media (prefers-color-scheme: light) {
      background-color: $white;
    }
    box-shadow: map-get($shadow-map, $key); 
  }

  .dp-#{$key}-shadow {
    box-shadow: map-get($shadow-map, $key);
  }

  .dp-#{$key}-bg {
    @media (prefers-color-scheme: dark) {
      background-color: map-get($bg-map, $key);
    }
    @media (prefers-color-scheme: light) {
      background-color: $white;
    }
  }
}

.container {
  margin: 0 auto;
}