$white: #FFF;

$dark-base: #121212;

$dark-dp01: mix($white, $dark-base, 5%);
$dark-dp02: mix($white, $dark-base, 7%);
$dark-dp03: mix($white, $dark-base, 8%);
$dark-dp04: mix($white, $dark-base, 9%);
$dark-dp06: mix($white, $dark-base, 11%);
$dark-dp08: mix($white, $dark-base, 12%);
$dark-dp12: mix($white, $dark-base, 14%);
$dark-dp16: mix($white, $dark-base, 15%);
$dark-dp24: mix($white, $dark-base, 16%);