nav {
  @include dp-bg("08");
  @include dp-shadow("08");
  display: flex;
  justify-content: center;
  align-items: center;
  .nav {
    display: inline-flex;

    li {
      margin-left: 16px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}

@include media-breakpoint-down("sm") {
  nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 75px;
  }
}