nav {
  @include dp-bg("08");
  @include dp-shadow("08");
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .nav {
    display: inline-flex;
    height: 100%;
    align-items: center;
    li {
      margin-left: 16px;
      height: 100%;
      display: inline-flex;
      align-items: center;
      border-bottom: 2px solid transparent;
      &:first-child {
        margin-left: 0px;
      }

      &.active {
        border-bottom: 2px solid $white;
        color: $white;
        font-weight: 500;
      }
    }
  }
}

@include media-breakpoint-down("lg") {
  nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 75px;
  }
}

@include media-breakpoint-up("lg") {
  nav {
    height: 50px;
    font-weight: 300;
  }
}